@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.login-container {
  border-top: 10px solid #CF682F;
  height: 100vh;
  color: #333C31;
  font-size: 14px;
}
.login-container input {
  background-color: rgba(202, 211, 200, 0.1803921569);
}
.login-container input:focus {
  box-shadow: none;
  border-color: #CF682F;
}
.login-container label {
  color: #333C31;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 1.2rem 0.75rem;
}
.login-container .btn-signin {
  background-color: #CF682F;
  border-color: #CF682F;
  text-transform: uppercase;
  color: #fff;
  height: 47px;
  font-weight: 500;
}
.login-container .forgot-password {
  color: #2C3A47;
  text-decoration: none;
}
.login-container .social-icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.login-container .social-icons img {
  margin-left: 20px;
  width: 24px;
  height: 24px;
}
.login-container .alert.alert-danger {
  background-color: rgba(246, 100, 127, 0.1803921569);
  color: #D90202;
}

#main-wrapper {
  overflow-x: hidden;
  display: flex;
}

.navbar-hide {
  margin-left: -17rem !important;
}

.navbar-vertical {
  margin-left: -17rem;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 145px;
  padding: 0rem;
  background-color: #CF682F;
  transition: margin 0.25s ease-out;
}
.navbar-vertical #sideNavbar {
  margin-top: 80px;
  color: #fff;
}
.navbar-vertical #sideNavbar a {
  padding: 0.5rem 1rem;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: 400;
  line-height: 1.8;
  -webkit-transition: all 0.5s;
  white-space: nowrap;
  transition: all 0.5s;
}
.navbar-vertical #sideNavbar a.nav-link.has-arrow {
  font-weight: 500;
}
.navbar-vertical #sideNavbar .nav {
  background-color: rgba(255, 255, 255, 0.1490196078);
}
.navbar-vertical #sideNavbar .nav .nav-item .nav-link {
  padding: 0.5rem 2rem;
}
.navbar-vertical #sideNavbar .nav .nav-item .nav-link.active {
  background-color: rgba(255, 255, 255, 0.4196078431);
}

.navbar-vertical {
  margin-left: 0rem;
}

@media (min-width: 768px) {
  .navbar-vertical {
    margin-left: 0rem;
  }
}
#page-content {
  min-width: 0rem;
  margin-left: 9.1rem;
  width: 100%;
}

.page-width {
  margin-left: 0 !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
.navbar-classic {
  background-color: #CF682F;
  box-shadow: 0px 2px 4px rgba(0, 0, 20, 0.08), 0px 1px 2px rgba(0, 0, 20, 0.08);
  height: 79px;
}
.navbar-classic #nav-toggle {
  color: #fff;
  padding-left: 18px;
  padding-top: 8px;
  font-size: 28px;
}

.navbar-classic .navbar-right-wrap .list-group-item {
  padding: 1rem 1.25rem;
}

.navbar-classic .nav-badge {
  position: absolute;
  top: -9px;
  right: 3px;
}

#page-content {
  min-height: 100vh;
  min-width: calc(100vw - 175px);
  transition: margin 0.25s ease-out;
}
#page-content .navbar-brand {
  padding-left: 14px;
}
#page-content .header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 10;
}

@media only screen and (max-width: 600px) {
  .navbar-classic {
    display: flex;
    flex-direction: column;
  }
  #page-content .navbar-brand {
    padding-left: 18px;
  }
}
.stepwizard-step p {
  margin: 0px;
  color: #fff;
  font-size: 12px;
}

.stepwizard-row {
  display: flex;
  justify-content: space-evenly;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  background-color: red;
  opacity: 1;
  filter: alpha(opacity=100);
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #fff;
  background-color: #CF682F;
  color: #fff;
}
.btn-circle.btn-active {
  background-color: #fff;
  color: #CF682F;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

.setup-panel:after {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 11.4%;
  left: 0;
  height: 1px;
  background-color: #3AC51B;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .stepwizard-step p {
    display: none;
  }
  .stepwizard {
    margin-top: 14px;
  }
}
.main-section {
  margin-top: 99px;
  padding: 0px 18px;
}

.card {
  background-color: #fff;
  border-radius: 0px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card .card-header {
  border-bottom-color: #EEF1EE;
  line-height: 30px;
  align-self: center;
  width: 100%;
  padding: 11px 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}
.card .card-header h4 {
  font-size: 16px;
  margin-bottom: 0;
}
.card .card-header .card-bradcrumb {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #000;
}
.card .card-header .card-bradcrumb i.bi-folder-fill {
  margin: 0 3px;
  color: #91acc5;
}
.card .card-header .card-bradcrumb i.bi-chevron-right {
  margin-left: 6px;
  color: #1b97be;
}
.card .card-header .card-bradcrumb i.bi-filetype-doc {
  color: #91acc5;
  margin: 0 4px;
}
.card .card-body {
  padding-top: 12px;
  padding-bottom: 12px;
  padding: 20px 18px;
}
.card .card-footer {
  background-color: transparent;
  border-color: #EEF1EE;
}

.btn-fill {
  background-color: #CF682F;
  border-color: #CF682F;
  color: #fff;
  border-radius: 5px;
}
.btn-fill:hover {
  background-color: #e76a25;
  border-color: #e76a25;
  color: #fff;
}

label {
  font-size: 12px;
  color: #6C5243;
}

.form-control {
  font-size: 11px;
  border-radius: 1px;
  height: 26px;
}

.btn-actions img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 10px;
}

table {
  font-size: 12px;
}
table thead tr th {
  background-color: rgba(202, 211, 200, 0.1803921569) !important;
  font-weight: 500;
}

.offcanvas.offcanvas-end {
  top: 103px;
  width: 560px;
}

.text-brown {
  color: #6C5243;
}

.general-info {
  font-size: 11px;
}
.general-info strong {
  color: #43586C;
  font-weight: 500;
}

.btnAddVariables {
  padding: 1px 3px;
}

.text-primary {
  color: #CF682F !important;
}

.cursor {
  cursor: pointer;
}

.btn-save i {
  font-size: 15px;
}

.btn-cancel {
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  color: #6C5243;
}

.bg-grey {
  background-color: #f2f3f2;
}

.btn-warning {
  background-color: #EABA0C;
  border-color: #EABA0C;
  color: #fff;
  border-radius: 15px;
  font-size: 11px;
}

.user-profile {
  color: #fff;
  font-size: 11px;
}
.user-profile .last-login {
  font-weight: 300;
  font-size: 11px;
}
.user-profile .user-details {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .user-profile {
    display: none;
  }
}
.accordion-button::before {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 10px;
  margin-left: unset;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed)::before {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

.accordion-button {
  color: #000000;
  font-size: 13px;
  box-shadow: none !important;
  padding: 0.5rem 1.25rem !important;
}

.accordion-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-color: transparent;
}

.accordion-header {
  border-bottom: 1px solid #EEF1EE;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #f2f3f2;
}/*# sourceMappingURL=main.css.map */